*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


div#form {
    max-width: 500px;
    margin: auto;
    padding: 2px;
    border: 1px solid grey;
    text-align: center;
    
}

#form ul {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    
}

#form ul li {
    display: flex;
    list-style: none;
    margin: 5px;
    padding: 5px;    
}

#form ul li input {
    padding: 3px;
    border: 1px solid black;
}

#form ul li button {
    width: 100%;
}

div#result{
    max-width: 500px;
    padding: 2px;
    margin: auto;
    margin-top: 1rem;
    border: 1px solid grey;    
}

#result ul{
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}

#result ul li {
    display: flex;
    padding: 10px;
}

